.home-page-cover-img {
  width: 100%;
  height: 100vh;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3f3f3f;
  opacity: 0.85;
  height: 100vh;
  width: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.text-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  margin: auto;
  color: white;
}

.get-paid-text {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

.description-text,
.styled-text {
  font-size: 2rem;
  max-width: 70%;
  text-align: center;
  margin: auto;
  font-weight: 700;
}

.styled-text {
  color: #77f2fc;
}

.getting-started {
  width: 25%;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: none;
  background-color: transparent;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #77f2fc;
  border-radius: 0.5rem;
  color: #77f2fc;
  font-family: "Varela Round";
  font-size: x-large;
  font-weight: 900;
}

.landing-image-text {
  color: white;
  font-size: x-large;
  font-weight: 800;
}

.search {
  position: absolute;
  width: 80%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
