.available-project-card-container {
  flex: 30%;
  max-width: 25%;
}

.project-image {
  width: 100%;
  height: auto;
  max-height: 50%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.product-name-with-wishlist-icon {
  flex-grow: 1;
}

.card-container.primary-btn {
  align-self: flex-end;
}
